<html>
<head>
  <meta charset="utf-8">
  <title>ReDoc</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">

  <link href="../static/css/style.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="../static/img/logo-icon.png"/>
</head>

<body>
  <div class="header" id="header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="../static/img/logo-full.png" height="25" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">INTRO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product">PRODUCT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api">API</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/demo">DEMO</a>
            </li>
            <li class="nav-item"><a class="nav-link"></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


  <!-- code here -->
  <hr>

  <div class="footer text-center" id="footer">
    <div class="container">
      ©ReDoc of Golden Beer. 2018.06-
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
